body {
  padding: 15px 50px 0px 0px;
  font-family: 'Nunito', 'Palatino', sans-serif;
  font-size: 18px;
  overflow: scroll;
  color: #212122;
}

a, a:visited {
  text-decoration: none;
  color: #A30600;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

pre, img {
  padding-left: 75px;
}
pre code {
  font-size: 14px;
  font-weight: bold;
  background: white;
}

table pre, table img {
  padding: 0px;
}
table tr td {
  vertical-align: top;
}
table img {
  width: 100%;
}

#menu {
  position:fixed;
  left: 25px;
  top: 25px;
  font-size: 1.05em;
  list-style: none;
  width: 215px;
  border: 2px solid #A30600;
  border-left: none;
  border-bottom: none;
  padding: 10px;
}

h1 {
}

#content {
  padding-left: 315px;
  padding-right: 200px;
}

#links {
  width: 140px;
  position: fixed;
  right: 100px;
  top: 140px;
  font-size: 14px;
}
#links a {
  display: block;
}
#social {
  position: absolute;
  right: 275px;
  top: 55px;
}

