body {
  padding: 10px 10px;
  font-family: 'Nunito', 'Palatino', sans-serif;
  font-size: 16px;
  overflow: scroll;
  color: #212122;
  width: 80%;
  margin: auto;
}

a, a:visited {
  text-decoration: none;
  color: #A30600;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

pre, img {
  padding-left: 75px;
}
pre code {
  font-size: 14px;
  font-weight: bold;
  background: white;
}

