<!DOCTYPE html> 
<head> 
<meta charset='utf-8'> 
<title>Bench - An alternative to Benchmark</title> 
<base href="http://blambeau.github.com/viiite/" />
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Nunito:300' type='text/css'> 
<link rel="stylesheet" href="http://yandex.st/highlightjs/6.0/styles/github.min.css" type='text/css'> 
<link href="css/github.min.css" rel='stylesheet'></link>
<link href="css/style.css" rel='stylesheet'></link>
<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script> 
<script type="text/javascript" src="js/highlight.min.js"></script> 
<script type="text/javascript"> 
  $(document).ready(function(){ hljs.initHighlightingOnLoad(); });
</script> 
</head> 
<body> 
<a href="http://github.com/blambeau/viiite"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a> 

<ul id="menu">
  <li><a href="/viiite">Home</a></li>
{% for post in site.posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<div id="content">
{{ content }}
</div>

<div id="social">
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="blambeau">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16520635-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
